name: Deploy to Local Staging Docker

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest code in staging folder and restart
        run: |
          cd /var/www/html/dev-test
          git pull origin staging
         